.pace .pace-progress {background: #ee215b;}
.bigIcon,.socialList li a:hover{color: #ee215b;}
.btn-new,.downloadNumber{background: #ee215b}
.btn-new:hover,.btn-new:focus{background: #FF4F89}
#share{background-color: #ee215b;}
